.contenedor_hero{
    display: flex;
    height: 100vh;
    width: 100%;    
    }
    
.shp{        
    z-index: -2;
    height: 110%;
    }

.shpMq{
    display: none;
}
    
.img_hero{
          width: 100%;        
          border-radius: 50%;
        }
    
.contenedor_imagen{              
                    height: 60%;
                    width: 60%;
                    border-radius: 50%;
                    background-color: white;
                    transform: translateX(16.2vh) translateY(-94vh);
                    border: 1rem solid white;
            }
    
.contenedor_img_hero{width: 50%;}
    

.contenedoorTexto{
                    color: white;                    
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    padding-left: 11.5rem;
                    margin-top: 4rem;
                  }

.span_bienvenido{
                background-color: rgb( 51, 13, 0);
                width: 20%; 
                font-size: 1.3rem;
                padding: 0.8rem 0.6rem ;
                border-radius: 0.5px;
                color: rgb(241, 77, 14);
                margin-bottom: 1rem;
                text-align: center;                
                }

.nombre_hero{
            font-size: 3rem;
            margin-bottom: 2rem;
            font-family: 'PT Serif', serif;
            }
    
.profesion_hero{
                font-size: 1.3rem;
                font-weight: 600;
                }
                
.texto_hero{
            font-size: 1.2rem;
            line-height: 2rem;
            }

.contenedor_btn{
                margin-top: 4rem;
                width: 100%;
                display: flex;
                gap: 1.4rem;
                }
                
.btn_hero{
            padding: 1.4rem 4rem;
            font-size: 1.4rem;
            border-radius: 0.4rem;
            border: 2px white solid;
            background-color: transparent;
            color: white;
            cursor: pointer;
            }
                
.btn_hero>a{
            text-decoration: none;
            color: white;
            }
                
.btn_hero:hover{
                background-color:var(--colorPrimario) ;
                border: 2px solid var(--colorPrimario);
                }
    
    
    
    @media(max-width:1680px){
        
                            
                            .contenedoorTexto{
                                                padding-left: 10.2rem;
                                                margin-top: 0rem;
                                            }
                            .contenedor_imagen{         
                                                display: flex;
                                                height: 50%;
                                                width: 60%;            
                                                transform: translateX(24vh) translateY(-86vh);
                                                }

                            .img_hero{width: 100%;}

                            .btn_hero{padding: 1.2rem 3.5rem;}                   
                        
                        }
   
    
    @media(max-width:1280px){
    
                            .contenedoorTexto{padding-left: 8rem;}
                            .span_bienvenido{
                                            width: 25%;
                                            font-size: 1.2rem;
                                            }
                            .nombre_hero{font-size: 2.6rem;}
        
                            .profesion_hero{
                                            font-size: 1.2rem;
                                            margin-bottom: 1.6rem;
                                            }
    
                            .texto_hero{
                                        font-size: 1rem;
                                        margin-top: 0.4;}
                            .contenedor_btn{margin-top: 2.2rem;}
                            .btn_hero{
                                    padding: 1rem 5rem;
                                    font-size: 1rem;
                                    }
        
                            }
    
    @media(max-width:1024px){

        .contenedor_hero{flex-direction: column-reverse;
                        align-items: center;
                        height: auto;
                        justify-content:space-around ;
                        height: auto;
                        width: 100%;    
                        }
        
         
        .shp{display: none;}
        
        .shpMq{display:block;}
        
        .contenedor_imagen{         
                            display: flex;
                            height: 40%;
                            width: 50%;            
                            transform: translateX(18vh) translateY(-48vh);
                            
                            }

        
        
        .contenedoorTexto{
                            justify-content: flex-start;
                            margin-top: 0vh;
                            margin-left: 6rem;}

        .span_bienvenido{
                        font-size: 1rem;
                        margin-left: 18rem;
                        margin-bottom: 4rem;}
        .nombre_hero{font-size: 2.8rem;}
        .profesion_hero{
                        margin-bottom: 1rem;
                        font-size: 1.6rem;}
        .texto_hero{margin-top: 0.2rem;
                    font-size: 1.2rem;}
        .contenedor_btn{
                        margin-top: 4rem;
                        justify-content: center;}
        .btn_hero{
                    padding: 1.2rem 4rem;
                    font-size: 1.2rem;
            }
            .contenedoorTexto{
                padding-left: 0rem;
                margin-top: 0rem;
            }
        }
      
    
       /*  @media(max-width:900px){
            .contenedor_hero{flex-direction:column-reverse;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            height: auto;} */
        /* .contenedor_img_hero{
                            width: 30vh;
                            height: 30vh;
                            } */
       /*  .contenedoorTexto{margin-left: 0;}
        .span_bienvenido{width: 25vh;}
        /* .contenedorImagen_shape{height: 100%;
                                margin-top: 4rem;} */
       /*  .btn_hero_margin{margin-left: 0px;}  
        .texto_hero{font-size: 1.6rem;
        line-height: 2.5rem;}
    } */ 