.contenedor_hero{
    display: flex;
    height: 100vh;
    width: 100%;    
    }
    
.shp{        
    z-index: -2;
    height: 110%;
    }
    
.img_hero{
          width: 100%;        
          border-radius: 50%;
        }
    
.contenedor_imagen{              
                    height: 60%;
                    width: 60%;
                    border-radius: 50%;
                    background-color: white;
                    transform: translateX(16.2vh) translateY(-94vh);
                    border: 1rem solid white;
            }
    
.contenedor_img_hero{width: 50%;}
    

.contenedoorTexto{
                    color: white;                    
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    padding-left: 11.5rem;
                    margin-top: 4rem;
                  }

.span_bienvenido{
                background-color: rgb( 51, 13, 0);
                width: 20%; 
                font-size: 1.3rem;
                padding: 0.8rem 0.6rem ;
                border-radius: 0.5px;
                color: rgb(241, 77, 14);
                margin-bottom: 1rem;
                text-align: center;                
                }

.nombre_hero{
            font-size: 3rem;
            margin-bottom: 2rem;
            font-family: 'PT Serif', serif;
            }
    
.profesion_hero{
                font-size: 1.3rem;
                font-weight: 600;
                }
                
.texto_hero{
            font-size: 1.2rem;
            line-height: 2rem;
            }

.contenedor_btn{
                margin-top: 4rem;
                width: 100%;
                display: flex;
                gap: 1.4rem;
                }
                
.btn_hero{
            padding: 1.4rem 4rem;
            font-size: 1.4rem;
            border-radius: 0.4rem;
            border: 2px white solid;
            background-color: transparent;
            color: white;
            cursor: pointer;
            }
                
.btn_hero>a{
            text-decoration: none;
            color: white;
            }
                
.btn_hero:hover{
                background-color:var(--colorPrimario) ;
                border: 2px solid var(--colorPrimario);
                }
                
    
    
    /* .contenedorImagen_shape{
        width: 50%;
        border-radius: 50% 0% 44% 56% / 86% 5% 100% 13% ;
       background-color: var(--colorPrimario);
        display: flex;
        justify-content: center;
        align-items: center;
       
        
    } */
    /* .contenedor_img_hero{
        width:30rem;
        height: 30rem;
        border-radius: 50%;
        background-color: rgb(273, 240, 249);
        border: 0.5rem solid white;
        display: flex;
        align-items: end;
        justify-content: center;
    } */
    /* .img_hero{
       width: 100%;
        border-radius: 0 0 50% 50%/0 0 35% 50%; 
        margin-right: 1.8rem;
        margin-bottom: 0.5rem;
          
       } */
    
    
    
    @media(max-width:1680px){
      
        .contenedoorTexto{padding-left: 10.2rem;}
        .contenedor_imagen{
                            display: flex;
                            height: 50%;
                            width: 50%;            
                            transform: translateX(20vh) translateY(-88vh);
                            }
        .btn_hero{padding: 1.2rem 3.5rem;}                   
                        
                        }
   
    
    @media(max-width:1280px){
    
        .contenedoorTexto{margin-left: 7.4rem;}
        .span_bienvenido{
                        width: 25%;
                        font-size: 1.2rem;
        }
        .nombre_hero{font-size: 2.6rem;}
        
        .profesion_hero{
                        font-size: 1.2rem;
                        margin-bottom: 1.6rem;}
    
        .texto_hero{
                        font-size: 1rem;
                        margin-top: 0.4;}
        .contenedor_btn{margin-top: 2.2rem;}
        .btn_hero{
            padding: 1rem 2.6rem;
            font-size: 1rem;
            }
        /* .contenedorImagen_shape{height: 90%;} */
        /* .contenedor_img_hero{
                            width: 50vh;
                            height: 50vh;
            } */
    }
    
    @media(max-width:1024px){
        .contenedoorTexto{
                            margin-left: 4.2rem;
                            justify-content: flex-start;
                        margin-top: 6rem;}
        .span_bienvenido{font-size: 1rem;}
        .nombre_hero{font-size: 2.2rem;}
        .profesion_hero{margin-bottom: 1rem;}
        .texto_hero{margin-top: 0.2rem;}
        .contenedor_btn{margin-top: 1.6rem;}
        .btn_hero{
                    padding: 1rem 2.4rem;
                    font-size: 1rem;
            }
        /* .contenedorImagen_shape{height: 85%;}
        .contenedor_img_hero{
                                    width: 45vh;
                                    height: 45vh;
    } */
    }
    @media(max-width:900px){
        .contenedor_hero{flex-direction:column-reverse;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: auto;}
        /* .contenedor_img_hero{
                            width: 30vh;
                            height: 30vh;
                            } */
        .contenedoorTexto{margin-left: 0;}
        .span_bienvenido{width: 25vh;}
        /* .contenedorImagen_shape{height: 100%;
                                margin-top: 4rem;} */
        .btn_hero_margin{margin-left: 0px;}  
        .texto_hero{font-size: 1.6rem;
        line-height: 2.5rem;}
    }