.contenedor_servicios{
    color: white;
    margin-top:8rem ;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}
.titulo_section{
font-size: 3.5rem;
margin: 1rem 0 3rem 0;
color: white;
text-align: center;
font-family: 'PT Serif', serif;
}
.descripcion_servicios{
    text-align: center;
    margin-bottom: 6rem;
    font-size: 1.6rem;
}
.contenedorDivServicios{
    display: flex;
    justify-content: space-around;
    width: 83.5%;
}
.btn_servicios{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    align-items: center;
    width: 30%;
    padding: 1rem;
    background-color: rgb(17,17,17);
    color: white;
    font-family: 'PT Serif', serif;
}
.flecha_servicios{
    padding-top: 1rem;
    font-size: 2rem;
margin-right: 1.2rem;}
.icon_servicios{padding: 1rem;
font-size: 2rem;
border-radius: 50%;
color: var(--colorPrimario);
background-color: black;
}
.btn_servicios:hover{
    background-color: var(--colorPrimario);
   
    }
.btn_servicios:hover .icon_servicios{background-color: white;}
.btn_servicios>a{text-decoration: none;color: white;}


@media(max-width:1680px){
                        .btn_servicios{font-size: 1.6rem;}
                        .flecha_servicios{font-size: 1.8rem;}
                        .contenedor_servicios{margin-top: 0rem;}
                        }

@media(max-width:1280px){
                        .contenedor_servicios{margin-top: 4rem;}
                        .btn_servicios{
                                        font-size: 1.4rem;
                                        width: 32%;
                                        }
                        .flecha_servicios{font-size: 1.4rem;}
                        .btn_servicios{
                                        padding: 0.8rem;
                                        letter-spacing: 0.2rem;}

                        .descripcion_servicios{font-size: 1.2rem;}
}
@media(max-width:1024px){
                        .contenedor_servicios{justify-content: center;}
                        .contenedorDivServicios{
                                                flex-direction: column;
                                                width: 100%;
                                                align-items: center;
                                                gap: 2rem;}
                        .btn_servicios{
                                        width: 50%;
                                        font-size: 2rem;}

                        .descripcion_servicios{font-size: 1.4rem;}
                        }

@media(max-width:768px){

                        .btn_servicios{width: 60%;
                                        font-size: 1.6rem;}
                        .contenedor_servicios{
                                            margin-top: 4rem;
                                            width: 80%;
                                            align-items: center;
                                            margin: 0 auto;
                                            }
                        }

@media(max-width:640px){
                        .titulo_section{font-size: 2rem;}
                        .btn_servicios{
                                        width: 80%;
                                        font-size: 1.4rem;}
                        .descripcion_servicios{font-size: 1.2rem;}}


@media(max-width:360px){
                        .btn_servicios{
                                        width: 90%;
                                        font-size: 1rem;}
                        .icon_servicios{display: none;}
                        .flecha_servicios{margin-right: 0px;}
}

