
.contenedorNav{
    display:flex;
    justify-content: space-around; 
    background-color: transparent;
  align-items: center;
  padding: 0 4vh;

margin-top: 1.4rem;
    
}
.nav_items{
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.aNavbar{
    padding: 3rem 1rem 1rem 1rem;
    text-decoration: none;
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
    
}

.contenedor_redes{display: flex;
 gap: 0.4rem;
}
.redes{
    padding: 0.5rem;
    color: white;
    font-size: 2rem;
    cursor: pointer;
   
}

.aNavbar:hover{
    padding-top: 3.6rem;
    background-color: var(--colorPrimario);
}
.redes_hover{
    background-color: transparent;
    border: 2px solid transparent;
}

.redes_hover:hover{transform: scale(1.4);
}


.Logo{
    margin-left: 2rem;


}

.hamburguesa{display: none;}

@media(max-width:1680px){
    .contenedorNav{padding:0 6vh}
}
@media(max-width:1280px){
    .aNavbar{font-size: 1.2rem;}
    .redes{font-size: 1.5rem;}
    
}
@media(max-width:1000px){

    .nav_items{
        position:absolute;
        right: 4rem;
        top:6rem;
        flex-direction: column;
        align-items: end;
        /* background-color: rgba(0,255,255, 0.2); */
        width: 25%;
        transform: translateX(100%);

    }

    .nav_items.open{transform: translateX(0%);}

    .contenedor_a{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: end;

    }
    .contenedor_redes{
        flex-direction: column;
        width: 100%;
        align-items: end;
    }
    
    .hamburguesa{display:inline-block;
                color: white;
                font-size: 2.5rem;
                /* transition: all 0.2s linear; */
            }
    .contenedorNav{
        justify-content: space-between;
        padding: 0 8vh;
        height: 6rem;
    }
    .aNavbar{padding: 0 0 0 0;
            margin-bottom: 0.5rem;
            font-weight: 700;
            margin-right: 0;
            transition: 0.3s ease all;
            }
    /* .redes_hover{transition: 0.3s ease all;} */
   
    
    .aNavbar:hover{
        padding: 0 0;
        transform: scale(1.2);
        background-color: transparent;
    }
}
@media(max-width:768px){
    .contenedorNav{
        justify-content: space-around;
        width: 100%;
    padding: 0 0;}
}