.copy{color:white;
font-size: 0.8rem;
background-color: var(--colorPrimario);
height: 4rem;
display: flex;
justify-content: center;
align-items: center;
}

.info_footer{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 0 3vh;
    margin-top: 2rem;

}
.aFooter{
    text-decoration: none;
    font-size: 1.4rem;
    color: white;
    padding: 1rem 1rem 1rem 1rem;
}

.redes_footer{
    padding-right: 5vh;
}

.aFooter :hover {transform: scale(1.2);}

@media(max-width:1680px){
    .info_footer{padding: 0 4vh;}
    .redes_footer{
        padding-right: 8vh;
    }
}