.contenedor_opiniones{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12rem;
    position: relative;
}

.Contenedor_opiniones_carrousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
   
}
.img_carrousel{
    animation: aparecer_izquierda;
    animation-duration: 1s;
}
@keyframes aparecer_izquierda{
    0%{
        opacity: 0;
        transform: translateX(200px);
        }
    100%{
            transform: translateX(0);
            opacity: 1;
        }
    }

.contenedor_btn_carrousel{
    display: flex;
    position: absolute;
    width: 5%;
    justify-content: space-between;
    
    bottom: 0;
}
.btn_carrousel{
    font-size: 2rem;
    color: var(--colorPrimario);
    background-color: transparent;
    border: 2px solid transparent;
    cursor: pointer;
}
.btn_carrousel:hover{transform: scale(1.15);}

@media(max-width:1024px){
    .contenedor_opiniones{margin-top: 6rem;}
    .Contenedor_opiniones_carrousel{width: 80%;}
    
}
@media(max-width:786px){
    .Contenedor_porfolio{width: 80%;}
    
}