.infinito{
    width: 100px;
    height: 80px;
    fill:rgb(255,73,0);
    stroke:rgb(255,73,0);
    stroke-width: 1;
 
}

@media(max-width:1280px){
    .infinito{width: 70px;
            height: 50px;}
}