.menu{
    width:30%;
    position:absolute;
    right: 2rem;
    top: 2rem;
    height: auto;
    display: flex;
    flex-direction: column;
}
.a_hamburguesa{
    font-size: 1.2rem;
    margin-top: 0.5rem;
    text-decoration: none;
    font-size: 1rem;
}
